
<!-- home -->
<section class="home home--circle" style="background-image:url('/assets/About-Banner.png');background-size:100% 100%;background-repeat: no-repeat;background-position:center;">
  <!-- particles -->
  <!-- end particles -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0" >
        <div class="home__content">
          <h3 class="home__title">ABOUT LEGALFAB</h3>
          <h2 class = "normal-font">Changing The Way</h2>
          <h2 class = "normal-font">Businesses Transact</h2>
          <a href="#"  data-toggle="modal" data-target="#exampleModalCenter"><img src="/assets/Subscribe-Button.png" width="35%" style = "margin-top:50px"></a>
        </div>
      </div>
      </div>
    </div>
  </div>

</section>
<!-- end home -->
<!-- services -->
<section class="section p-b-0" id="services">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">ABOUT US</h2>
      </div>
      <!-- end section title -->
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-10 offset-xl-1">
        <!-- service -->
        <div class="text-center">
         <!-- <p class="service__text text-justify">
            LegalFAB aims to revolutionise the delivery of legal services and the way businesses transact. Our solutions
            are used by both law firms and businesses to streamline the drafting process, enhance collaboration, and
            better manage transaction workflow on a distributed ledger platform. In 2018, LegalFAB won the TechLaw.Fest
            Hackathon organised by the Singapore Academy of Law and Personal Data Protection Commission of Singapore
            with its leading digital signature blockchain solution.
          </p> -->
          <p class="service__text text-justify">
          LegalFAB facilitates the creation of decentralised identity for e-authentication, collaboration and trusted transactions. Our solutions
           are used by both law firms and businesses to streamline the drafting process, enhance collaboration, and 
           better manage transaction workflow on a distributed ledger platform. In 2018, LegalFAB won the TechLaw.Fest
           Hackathon organised by the Singapore Academy of Law and Personal Data Protection Commission of Singapore
           with its leading digital signature blockchain solution.
          </p>
        </div>
        <!-- end service -->
      </div>

    </div>
  </div>
</section>
<!-- end services -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style = "height:600px">
   <!-- <div class="modal-header"> -->
          <button type="button" class="close" data-dismiss="modal">&times</button>
         <!-- <h4 class="modal-title">Please Subscribe here</h4> -->
        <!-- </div> -->
    <iframe src="https://edm.legalfab.com/index.php/lists/eh572md32m2ac/subscribe?output" width="100%" height="100%" align="middle" frameborder="0" scrolling="no" id = "ifrm"></iframe>
    </div>
  </div>
</div>
