
<!-- home -->
<section class="home home--circle home__about">
  <!-- particles -->
  <!-- end particles -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0">
        <div class="home__content">
          <h3 class="home__title">ABOUT LEGALFAB</h3>
          <h2 class = "normal-font">Changing The Way</h2>
          <h2 class = "normal-font">Businesses Transact</h2>
          <a href="#subscribe_block" class=m-t"><img src="/assets/Subscribe-Button.png" width="35%"></a>
        </div>
      </div>
      </div>
    </div>
  </div>

</section>
<!-- end home -->
<!-- services -->
<section class="section p-b-0" id="services">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">ABOUT US</h2>
      </div>
      <!-- end section title -->
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-10 offset-xl-1">
        <!-- service -->
        <div class="text-center">
          <p class="service__text text-justify">
            LegalFAB aims to revolutionise the delivery of legal services and the way businesses transact. Our solutions
            are used by both law firms and businesses to streamline the drafting process, enhance collaboration, and
            better manage transaction workflow on a distributed ledger platform. In 2018, LegalFAB won the TechLaw.Fest
            Hackathon organised by the Singapore Academy of Law and Personal Data Protection Commission of Singapore
            with its leading digital signature blockchain solution.
          </p>
        </div>
        <!-- end service -->
      </div>

    </div>
  </div>
</section>
<!-- end services -->

<!-- video -->
<div class="section p-b-0 section--border-bottom">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
        <h2 class="section__title">LEADERSHIP</h2>
      </div>
      <!-- end section title -->
    </div>
    <div class="row  m-t-20 text-center">
      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/Leland.jpg" width="100%">
        <h3 class="text-uppercase">Leland</h3>
        <p>Legal Adviser</p>
      </div>
      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/isaac.png" width="100%">
        <h3 class="text-uppercase">Isaac</h3>
        <p>Product & Counsel</p>
      </div>

      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/kovalan.jpg" width="100%">
        <h3 class="text-uppercase">Kovalan</h3>
        <p>Technical Lead</p>
      </div>

      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/chrispowell.jpg" width="100%">
        <h3 class="text-uppercase">Chris</h3>
        <p>Business Development</p>
      </div>

      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/rena.jpg" width="100%">
        <h3 class="text-uppercase">Rena</h3>
        <p>Marketing & PR</p>
      </div>
      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/anurag.jpg" width="100%">
        <h3 class="text-uppercase">Anurag</h3>
        <p>Technical Lead</p>
      </div>
      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/suchitra.jpg" width="100%">
        <h3 class="text-uppercase">SUCHITRA</h3>
        <p>Front End Developer</p>
      </div>
      <div class="col-12 col-md-3 col-xl-3 col-lg-3">
        <img src="/assets/biplav.png" width="100%">
        <h3 class="text-uppercase">BIPLAV</h3>
        <p>Blockchain Developer</p>
      </div>
  </div>
</div>
</div>
<!-- end video -->