
<!-- home -->
<section class="home home--circle " style=";background-image:url('/assets/ContractAssemblyManagement-Banner.png');background-size:100% 100%;background-repeat: no-repeat;background-position: center;">
  <!-- particles -->
  <!-- end particles -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0 col-md-6" >
        <div class="home__content" >
          <h3 class="home__title">CONTRACT ASSEMBLY
            <br>& MANAGEMENT</h3>
          <h2 class="f-w-500">Transform Your Business</h2>
          <h2 class="f-w-500">With Future Legal</h2>
          <h2 class="f-w-500">Technology Today</h2>
          <a href="/request-demo" class="m-t-20"><img src="/assets/Request-Demo-Button.png" width="40%" style = "margin-top:30px"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services -->
<section class="section" id="services">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">CONTRACT ASSEMBLY & MANAGEMENT THAT WORKS</h2>
      </div>
      <!-- end section title -->
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-10 offset-xl-1">
        <!-- service -->
        <div class="text-center">
          <p class="service__text text-justify">
            LegalFAB’s Contract Assembly & Management solution allows legal service providers and businesses to generate customisable, top-quality legal documents in a simple manner through a secure, white-label assembly portal that can be deployed on cloud or on premise. Accessible on the go, business units or clients can follow a pre-defined set of questions and answers built into Smart Forms, customised to your organisational needs, to create documents or route crucial transaction information within the organisation.
          </p>
          <p class="service__text text-justify p-t-20">
            This tool is trusted by legal service providers to improve efficiency and productivity, better manage their
            risk with built-in regulatory and quality control, minimise cost and human errors, and enable the roll out
            of a standardised corporate template style that will improve profitability and contribute to the overall
            brand reputation of your organisation.
          </p>
        </div>
        <!-- end service -->
      </div>

    </div>
  </div>
</section>
<!-- end services -->

<!-- video -->
<div class="section p-t-40">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-4 col-xl-4 col-lg-4">
        <img src="/assets/Efficiency.png" width="45%">
        <h3 class="text-uppercase">DRIVE
          EFFICIENCY</h3>
        <p>Significantly reduce the time spent drafting and reviewing documents while ensuring document consistency.
        </p>
      </div>
      <div class="col-12 col-md-4 col-xl-4 col-lg-4">
        <img src="/assets/Secure Collaboration.png" width="45%">
        <h3 class="text-uppercase">SECURE
          COLLABORATION</h3>
        <p>Implement a secure assembly
          portal with access control, user
          privilege and audit trial
          functionalities.</p>
      </div>

      <div class="col-12 col-md-4 col-xl-4 col-lg-4">
        <img src="/assets/Digitalisation.png" width="45%">
        <h3 class="text-uppercase">BETTER
          LAWYERING</h3>
        <p>Focus on high-value matters by
          empowering your clients or business
          units to handle day-to-day business
          matters.</p>
      </div>


  </div>
</div>
</div>
<!-- end video -->
<div class="section section--bg" data-bg="/assets/section/section-bg2.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class = "row">
        <div class = "col-12 col-lg-6 col-md-6">
        <img src="/assets/Onboarding-1.png" class = "Onboarding__image__1" >
        </div>
        <div class = "col-12 col-lg-6 col-md-6">
        <h3 class="service__title mfp-inline-holder text-left Onboarding__para--1" >DOCUMENT ONBOARDING</h3>
        <p class="service__text text-justify">We handle the conversion of your documents into Smart Forms while you retain overall control of the document. You decide the parameters, guidance, and help text that is specific to the document, allowing your clients or business units to generate documents based on the stipulated parameters.
              </p>
        </div>
        </div>
        <div class = "row top-reduce" >
        <div class = "col-lg-6 col-md-6 order-2">
        <h3 class="service__title mfp-inline-holder text-right">DOCUMENT AUTOMATION</h3>
              <p class="service__text text-justify" style = "padding:0px;margin:0px">Do you need to deal with conditional drafting logic, producing a set of transaction documents, workflow routing from business units to general counsels, and business units and legal units operating in numerous regions? Contract Assembly & Management streamlines the complexity of your operations by providing a solution that is specific to your needs.
              </p>
        </div>
        <div class = "col-lg-6 col-md-6 order-1">
        <img src="/assets/Onboarding-2.png" width="80%" height = "70%" style = "margin:5%">
        </div>
        </div>
        <div class = "row top-buffer" >
        <div class = "col-12 col-lg-6 col-md-6" >
        <img src="/assets/Onboarding-3.png"   class = "Onboarding__image__3" >
        </div>
        <div class = "col-12 col-lg-6 col-md-6 top-reduce">
        <h3 class="service__title mfp-inline-holder text-left">DOCUMENT WORKFLOW</h3>
        <p class="service__text text-justify" style = "">Decide which documents need to be sent for review and which documents can be assembled by your clients or business units on a self-served basis.
        </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section light-blue-bg p-b-40 p-t-40">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class="text-center mfp-inline-holder">
          <h3>READY TO SUPERCHARGE YOUR LEGAL TEAM?</h3>
          <a href="#" data-toggle="modal" data-target="#examplecamModalCenter"><img src="/assets/Subscribe-Button.png" width="20%" class=" m-t-10"></a>
          <p class="service__text m-t-20">Not sure yet? <a href="javascript:openChat()">Speak to our team.</a></p></div>
        <!-- end service -->
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="examplecamModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style = "height:600px">
    <iframe src="https://edm.legalfab.com/index.php/lists/eh572md32m2ac/subscribe?output" width="100%" height="100%" align="middle" frameborder="0" scrolling="no" style = "border:1px solid pink"></iframe>
    </div>
  </div>
</div>
<script>
    function openChat() {
        tidioChatApi.open();
    }
</script>
