<!-- faq -->
<section class="section section--border-bottom p-t-1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 col-xl-10 text-center m-t-50">
        <!-- form -->
        <h2 class="section__title text-uppercase offset-xl-2">Contact Us</h2>

        
        <form action="/contact" class="sign__form" method="post" data-parsley-validate>
        <table width="90%" align="center" class="m-t-60">
          <tr>
            <td class="vertical-baseline text-right"><label class="dis-inline required" style= "font-size:15px">First Name</label></td>
            <td><input name="first_name" type="text" class="form__input form__input_full  offset-1"placeholder="John"  required data-parsley-trigger="focusout"></td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right"><label class="required" style= "font-size:15px">Surname / Last Name</label></td>
            <td><input name="last_name" type="text" class="form__input form__input_full  offset-1" placeholder="Tan" required data-parsley-trigger="focusout"></td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right"><label class="dis-inline required" style= "font-size:15px">Company Name</label></td>
            <td><input name="company_name" type="text" class="form__input form__input_full  offset-1" placeholder="Pte Ltd" required data-parsley-trigger="focusout"></td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right"><label class="dis-inline required" style= "font-size:15px">Phone / Contact number</label></td>
            <td><input name="phone" data-parsley-type="number" class="form__input form__input_full  offset-1" placeholder="+65" required data-parsley-trigger="focusout"></td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right"><label class="dis-inline required" style= "font-size:15px">Email Address</label></td>
            <td><input name="email" type="email" class="form__input form__input_full  offset-1" placeholder="yourname@xyz.com" required data-parsley-trigger="focusout"></td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right"><label class="dis-inline required" style= "font-size:15px">Preferred Mode of Contact</label></td>
            <td>
              <div class="offset-2 text-left">
                <input type="radio" id="mode1" name="contact_mode" value="email" checked>
                <label for="mode1" style= "font-size:15px">Email</label>
              </div>
              <div class="offset-2 text-left">
                <input type="radio" id="mode2" name="contact_mode" value="phone">
                <label for="mode2" style= "font-size:15px">Contact Number</label>
              </div>
            </td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right p-t-10"><label class="dis-inline required" style= "font-size:15px" >Nature of Enquiry</label></td>
            <td class="p-t-10" >
              <div class="offset-2 text-left">
                <input type="radio" name="nature1" id="nature1" data-parsley-multiple="nature" value="DraftFAB" required data-parsley-errors-container = ".err">
                <label for="nature1" style= "font-size:15px">DraftFAB</label>
              </div>
              <div class="offset-2 text-left">
                <input type="radio" name="nature2" id="nature2" data-parsley-multiple="nature" value="HashFAB" data-parsley-errors-container = ".err">
                 <label for="nature2" style= "font-size:15px">HashFAB</label>
              </div>
              <div class="offset-2 text-left">
                <input type="radio" name="nature3" id="nature4"  data-parsley-multiple="nature" value="technical_issues" data-parsley-errors-container = ".err">
                <label for="nature4" style= "font-size:15px">Technical Issues</label>
              </div>
              <div class="offset-2 text-left">
                <input type="radio" name="nature4" id="nature5"  data-parsley-multiple="nature" value="billing" data-parsley-errors-container = ".err">
                <label for="nature5" style= "font-size:15px">Billing</label>
              </div>
              <div class="offset-2 text-left">
                <input type="radio" name="nature5" id="nature6"  data-parsley-multiple="nature" value="others" data-parsley-errors-container = ".err">
                <label for="nature6" style= "font-size:15px">Others</label>
              </div>
              <div class = "err"></div>

            </td>
          </tr>
          <tr></tr>
          <td class="vertical-baseline text-right"><label class="dis-inline required" style= "font-size:15px">Message</label></td>
          <td><textarea name="message"
           type="text" 
           class="form__input form__input_full  offset-1 p-10" 
            style="min-height: 150px;font-size:15px"
            placeholder="Type your message here"
            required 
            data-parsley-trigger="focusout"
            data-parsley-minlength="20" data-parsley-maxlength="300" ></textarea></td>
          </tr>
          <tr>
          <td></td>
          <td>
          <div class="g-recaptcha offset-1" data-sitekey="<%=@site_key%>"></div>
          </td>
          </tr>
            <tr class="text-center">
              <td colspan="2" align="center" style="padding-left: 20%">
                <%= token_tag nil %>
                <input type="image" src="/assets/Submit-Button.png" alt="Submit Form" style="width: 25%;"/>
              </td>
            </tr>
        </table>
        </form>
        </div>
    </div>
    <% if flash[:success] == true %>
      <div class="success-msg text-center" role="alert">
        <%= flash[:message]%>
      </div>
    <% end %>
  </div>
</section>
<!-- end faq -->

<!-- get started -->
<section class="section p-b-1 section--border-bottom" style="padding-bottom: 1px">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <!-- get started -->
        <h2 class="section__title text-uppercase">SINGAPORE OFFICE</h2>
        <div id="map" style="height:400px">
          <!-- end get started -->
        </div>
        <div class="row m-t-20">
          <div class="col-12 col-lg-6">
            <p><strong>Headquarters<br>
              Singapore</strong></p>
            <p><strong>311 North Bridge </strong><br>
            Odeon Towers #02-01 <br>
              Singapore 188720 </p>
            <p><a href="mailto:info@legalfab.com">info@legalfab.com</a></p>
          </div>
          <div class="col-12 col-lg-6"><p><strong>Sales and Account Servicing Hotline</strong> <br> <br>
            Monday to Friday, 9am to 7pm (+8 GMT) </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>
<!-- end get started -->
     <script src='https://www.google.com/recaptcha/api.js'></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN9oJ0xA5CsEEsEvry4LeRwjvML1_1OwY&libraries=places&callback=myMap"
        async defer></script>
<script>
    (function ($) {
        // USE STRICT
        "use strict";

        $(document).ready(function () {

            var selector_map = $('#google_map');
            var img_pin = selector_map.attr('data-pin');
            var data_map_x = selector_map.attr('data-map-x');
            var data_map_y = selector_map.attr('data-map-y');
            var scrollwhell = selector_map.attr('data-scrollwhell');
            var draggable = selector_map.attr('data-draggable');

            if (img_pin == null) {
                img_pin = 'images/icons/location.png';
            }
            if (data_map_x == null || data_map_y == null) {
                data_map_x = 40.007749;
                data_map_y = -93.266572;
            }
            if (scrollwhell == null) {
                scrollwhell = 0;
            }

            if (draggable == null) {
                draggable = 0;
            }

            var style = [
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "saturation": 36
                        },
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 40
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 17
                        },
                        {
                            "weight": 1.2
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 21
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 29
                        },
                        {
                            "weight": 0.2
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 18
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 19
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                }
            ];

            var latitude = data_map_x,
                longitude = data_map_y,
                map_zoom = 14;

            var locations = [
                ['Welcome', latitude, longitude, 2]
            ];

            if (selector_map !== undefined) {
                var map = new google.maps.Map(document.getElementById('google_map'), {
                    zoom: 13,
                    scrollwheel: false,
                    zoomControl: false,
                    disableDoubleClickZoom: true,
                    navigationControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    draggable: draggable,
                    styles: style,
                    center: new google.maps.LatLng(latitude, longitude),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
            }

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < locations.length; i++) {

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    icon: img_pin
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }

        });

    })(jQuery);
    function myMap() {
        var myCenter = new google.maps.LatLng(1.2967926, 103.7845679);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 17};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position: myCenter});
        marker.setMap(map);

        var infowindow = new google.maps.InfoWindow({
            content: "<span class='text-bold'>LegalFAB Private Limited</span><br>\n" +
            "LegalFAB Private Limited <br>" +
            "311 North Bridge Road <br>" +
            "Odeon Towers <br>" +
            "Singapore 188720 "
        });
        infowindow.open(map, marker);
    }

    function submitContactForm() {

    }
</script>
