<!-- faq -->
<section class="section section--border-bottom p-t-1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 col-xl-10 offset-xl-1 text-center">
        <!-- form -->
        <h2 class="section__title text-uppercase">Contact Us</h2>
        <table width="70%" align="center" class="m-t-20">
          <tr>
            <td class="vertical-baseline text-right"><label class="dis-inline required">First Name</label></td>
            <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="John"></td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right"><label class="required">Surname / Last Name</label></td>
            <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="Tan"></td>
          </tr>
          <tr>
            <td class="vertical-baseline text-right"><label class="dis-inline required">First Name</label></td>
            <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="John"></td>
          </tr>
          <tr>
            <td class="vertical-baseline"><label class="dis-inline required">First Name</label></td>
            <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="John"></td>
          </tr>
          <tr>
            <td class="vertical-baseline"><label class="dis-inline required">First Name</label></td>
            <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="John"></td>
          </tr>
          <tr>
            <td class="vertical-baseline"><label class="dis-inline required">First Name</label></td>
            <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="John"></td>
          </tr>
          <tr>
            <td class="vertical-baseline"><label class="dis-inline required">First Name</label></td>
            <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="John"></td>
          </tr><tr>
          <td class="vertical-baseline"><label class="dis-inline required">First Name</label></td>
          <td><input type="text" class="form__input form__input_full col-10 offset-1" placeholder="John"></td>
        </tr>


        </table>
        <form action="#" class="sign__form">
          <a href="index.html"><img class="sign__logo" src="img/logo.png" alt=""></a>
          <div class="col-12">
            <div class="col-12 col-lg-4 col-md-4 col-xl-4" style="display: inline"><label class="required">Company Name</label></div>
            <div class=" col-8 dis-inline-block text-right"><input type="text" class="form__input form__input_full col-10" placeholder="Pte Ltd"></div>
          </div>
          <div class="col-12">
            <div class="col-12 col-lg-4 col-md-4 col-xl-4" style="display: inline"><label class="required">Phone / Contact number</label></div>
            <div class=" col-8 dis-inline-block text-right"><input type="text" class="form__input form__input_full col-10" placeholder="+65"></div>
          </div>
          <div class="col-12">
            <div class="col-4" style="display: inline"><label class="required">Email Address</label></div>
            <div class=" col-8 dis-inline-block text-right"><input type="text" class="form__input form__input_full col-10" placeholder="yourname@xyz.com"></div>
          </div>

          <div class="col-12">
            <div class="col-4" style="display: inline"><label class="required">Preferred Mode of Contact</label></div>
            <div class=" col-8 dis-inline-block text-right"><input type="text" class="form__input form__input_full col-10" placeholder="Full Name"></div>
          </div>

          <div class="col-12">
            <label class="col-4 dis-inline required">Nature of query</label>
            <input type="text" class="form__input form__input_full col-8" placeholder="Full Name">
          </div>

          <div class="col-12">
            <label class="col-4 dis-inline required">Message</label>
            <div class=" col-8 dis-inline-block text-right"><textarea type="text" class="form__input form__input_full col-10"  style="min-height: 150px" placeholder="Type your message here"></textarea></div>
          </div>

          <button class="btn" type="button">Submit</button>
        </form>
        <!-- end form -->
      </div>
    </div>
  </div>
</section>
<!-- end faq -->

<!-- get started -->
<section class="section p-b-1" style="padding-bottom: 1px">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <!-- get started -->
        <h2 class="section__title text-uppercase">SINGAPORE OFFICE</h2>
        <div id="map" style="height:400px">
          <!-- end get started -->
        </div>
        <div class="row m-t-20">
          <div class="col-12 col-lg-6">
            <p><strong>Headquarters<br>
              Singapore</strong></p>
            <p><strong>LaunchPad @ One North</strong><br>
              71 Ayer Rajah Crescent<br>
              Level 2, Unit 15<br>
              Singapore 139951 </p>
            <p><a href="mailto:info@legalfab.com">info@legalfab.com</a></p>
          </div>
          <div class="col-12 col-lg-6"><p><strong>Sales and Account Servicing Hotline</strong> <br> +65 6652 7986 <br>
            Monday to Friday, 9am to 7pm (+8 GMT) </p>
            <p> To upgrade or downgrade your business / personal account, please
              <a href="https://legalfab.com/login/">login</a> to your account. </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>
<!-- end get started -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN9oJ0xA5CsEEsEvry4LeRwjvML1_1OwY&libraries=places&callback=myMap"
        async defer></script>
<script>
    (function ($) {
        // USE STRICT
        "use strict";

        $(document).ready(function () {

            var selector_map = $('#google_map');
            var img_pin = selector_map.attr('data-pin');
            var data_map_x = selector_map.attr('data-map-x');
            var data_map_y = selector_map.attr('data-map-y');
            var scrollwhell = selector_map.attr('data-scrollwhell');
            var draggable = selector_map.attr('data-draggable');

            if (img_pin == null) {
                img_pin = 'images/icons/location.png';
            }
            if (data_map_x == null || data_map_y == null) {
                data_map_x = 40.007749;
                data_map_y = -93.266572;
            }
            if (scrollwhell == null) {
                scrollwhell = 0;
            }

            if (draggable == null) {
                draggable = 0;
            }

            var style = [
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "saturation": 36
                        },
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 40
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 17
                        },
                        {
                            "weight": 1.2
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 21
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 29
                        },
                        {
                            "weight": 0.2
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 18
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 19
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                }
            ];

            var latitude = data_map_x,
                longitude = data_map_y,
                map_zoom = 14;

            var locations = [
                ['Welcome', latitude, longitude, 2]
            ];

            if (selector_map !== undefined) {
                var map = new google.maps.Map(document.getElementById('google_map'), {
                    zoom: 13,
                    scrollwheel: false,
                    zoomControl: false,
                    disableDoubleClickZoom: true,
                    navigationControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    draggable: draggable,
                    styles: style,
                    center: new google.maps.LatLng(latitude, longitude),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
            }

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < locations.length; i++) {

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    icon: img_pin
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }

        });

    })(jQuery);
    function myMap() {
        var myCenter = new google.maps.LatLng(1.2967926, 103.7845679);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 17};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position: myCenter});
        marker.setMap(map);

        var infowindow = new google.maps.InfoWindow({
            content: "<span class='text-bold'>LegalFAB Private Limited</span><br>\n" +
            "LegalFAB Private Limited <br>" +
            "LaunchPad @ One North <br>" +
            "71 Ayer Rajah Crescent<br>" +
            "Level 2, Unit 15<br>" +
            "Singapore 139951 "
        });
        infowindow.open(map, marker);
    }
</script>
