<!-- page title -->
<section class="section section--first section--bg  p-b-1" data-bg="img/section/section-bg.jpg">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title section__title--white text-uppercase">Contact Us</h2>
        <p class="section__text section__text--white section__text--head">We are always happy to help, Please fill the
          below form</p>
      </div>
      <!-- end section title -->
    </div>
  </div>
</section>
<!-- end page title -->

<!-- faq -->
<section class="section section--border-bottom p-t-20">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-xl-6 offset-xl-3">
        <!-- form -->
        contact form will come here.

        <!-- end form -->
      </div>
    </div>
  </div>
</section>
<!-- end faq -->

<!-- get started -->
<section class="section p-b-1" style="padding-bottom: 1px">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <!-- get started -->
        <h2 class="section__title text-uppercase">SINGAPORE OFFICE</h2>
        <div id="map" style="height:400px">
          <!-- end get started -->
        </div>
        <div class="row m-t-20">
          <div class="col-12 col-lg-6">
            <p><strong>Headquarters<br>
              Singapore</strong></p>
            <p><strong>LaunchPad @ One North</strong><br>
              71 Ayer Rajah Crescent<br>
              Level 2, Unit 15<br>
              Singapore 139951 </p>
            <p><a href="mailto:info@legalfab.com">info@legalfab.com</a></p>
          </div>
          <div class="col-12 col-lg-6"><p><strong>Sales and Account Servicing Hotline</strong> <br> +65 6652 7986 <br>
            Monday to Friday, 9am to 7pm (+8 GMT) </p>
            <p> To upgrade or downgrade your business / personal account, please
              <a href="https://legalfab.com/login/">login</a> to your account. </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>
<!-- end get started -->
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
