<!-- request demo -->
<section class="section m-t-20" id="services">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">REQUEST DEMO</h2>
      </div>
      <!-- end section title -->
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-10 offset-xl-1">
        <!-- service -->
        <div class="text-center">
          <p class="service__text text-justify">
            <iframe src="https://meetingbird.com/m/r1GDNcGAM" style="width: 100%; border: none; min-height: 550px;background: none !important;" id="meetingbird" ></iframe>
          </p>
        </div>
        <!-- end request demo -->
      </div>

    </div>
  </div>
</section>
<!-- end request demo -->
