
<!-- home -->
<section class="home home--circle">
  <!-- particles -->
  <div id="particles-js" class="home__particles"></div>
  <!-- end particles -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0">
        <div class="home__content">
          <h2 class="home__title">DRAFT</h2>
          <h2 class="home__title">TRANSACT</h2>
          <h2 class="home__title">COLLABORATE</h2>
          <h2 class="home__title">MONITOR</h2>
          <h2 class="home__title">ON <a href="/project_transaction_monitoring">BLOCKCHAIN</a> </h2>
          <a href="/request-demo"><img src="/assets/Request-Demo-Button.png" width="40%"></a>
        </div>
      </div>
<!--      <div class="col-xl-6">
        <div class="home__content">
          <div class="servers">
            <div class="servers__title">OUR SERVICES</div>
            <div class="servers__item servers__item--green" title="Online">
              Contract Assembly & Management
            </div>
            <div class="servers__item servers__item--yellow" title="Online">
              Projects & Transaction Monitoring
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>
<!-- end home -->
<img src="/assets/home/u4.png" width="100%" style="margin-top: -6%">
<a href="#features" data-scroll class="home__btn" style="z-index: 100">
  <i class="ti-angle-double-down"></i>
</a>
<!-- services -->
<section class="section" id="services">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">BLOCKCHAIN-BASED SOLUTIONS</h2>
      </div>
      <!-- end section title -->
    </div>

    <div class="row">
      <div class="col-12 col-md-6 col-xl-4">
        <!-- service -->
        <div class="text-center">
          <a href="/contract_assembly_management"><img src="/assets/u68.png" width="50%">
          <h3 class="service__title">DOCUMENT DRAFTING

            & MANAGEMENT</h3></a>
          <p class="service__text">Streamline with Contract Assembly

            & Management</p>
        </div>
        <!-- end service -->
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        <!-- service -->
        <div class="text-center">
          <a href="/project_transaction_monitoring"><img src="/assets/u70.png" width="50%">
          <h3 class="service__title">SECURE

            COLLABORATION

          </h3></a>
          <p class="service__text">Protect and Manage Intellectual

            Property and Proprietary Information</p>
        </div>
        <!-- end service -->
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        <!-- service -->
        <div class="text-center">
          <img src="/assets/u72.png" width="50%">
          <h3 class="service__title">DIGITISATION & MONITORING

            OF TRANSACTIONS</h3>
          <p class="service__text">Maintain an Immutable Record of

            Transactions Details On Blockchain</p>
        </div>
        <!-- end service -->
      </div>
    </div>
  </div>
</section>
<!-- end services -->

<!-- video -->
<div class="section section--bg p-b-0"  id="features">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">FEATURES</h2>
      </div>
      <!-- end section title -->
    </div>
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class="text-center mfp-inline-holder">
          <img src="/assets/u58.png" width="50%" align="left">
          <h3 class="service__title mfp-inline-holder text-left">DRAFT</h3>
          <p class="service__text text-justify">Convert your documents into Smart Forms, allowing you, colleagues and clients to draft consistent, and top-quality documents using our Contract Assembly & Management solution. </div>
        <!-- end service -->
      </div>

      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class="text-center mfp-inline-holder">
          <img src="/assets/u60.png" width="50%" align="right">
          <h3 class="service__title mfp-inline-holder text-left">CREATE AN IMMUTABLE RECORD</h3>
          <p class="service__text text-justify">Permanently document actions associated with agreements and their timing using our blockchain-based Project & Transaction Monitoring solution.</div>
        <!-- end service -->
      </div>

      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class="text-center mfp-inline-holder">
          <img src="/assets/u62.png" width="50%" align="left">
          <h3 class="service__title mfp-inline-holder text-left">STORE</h3>
          <p class="service__text text-justify">Save documents and data related to an agreement in an organised, secure manner, integrated with our Project & Transaction Monitoring solution.</div>
        <!-- end service -->
      </div>

      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class="text-center mfp-inline-holder">
          <img src="/assets/u64.png" width="50%" align="right">
          <h3 class="service__title mfp-inline-holder text-left">COLLABORATE & MONITOR</h3>
          <p class="service__text text-justify">Securely share information with colleagues and counterparties, and track events related to agreements using our Project & Transaction Monitoring solution.</div>
        <!-- end service -->
      </div>
    </div>
  </div>
</div>
<!-- end video -->


<!-- partners -->
<div class="partners section--border-top section--border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12  text-center">
        <!-- partners slider -->
        <div class="owl-carousel partners__slider">
          <!-- slider item -->
          <div class="item text-center">
              <a href="/post/legalfab-wins-techlawfest-hachathon"><img src="/assets/u84.png"></a>
          </div>
          <!-- end slider item -->

          <!-- slider item -->
          <div class="item">
              <a href="/post/techlaw-fest-venture-day-2018-first-runner-up"><img src="/assets/runnerup2.png"></a>
          </div>
          <!-- end slider item -->

          <!-- slider item -->
          <div class="item text-center">
            <a href="/post/legal-geek-pitch-competition-second-runner-up"><img src="/assets/runner2.png"></a>
          </div>
          <!-- end slider item -->

        </div>
        <!-- end partners slider -->
      </div>
    </div>
  </div>
</div>
<!-- end partners -->
