
<!-- page title -->
<section class="section section--first blog-header-bg p-t-30 p-b-30 text-center" data-bg="/assets/section/section-bg.jpg">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title section__title--white">FEATURED ARTICLE</h2>
        <p class="section__text section__text--white section__text--head">Love Quotient & Empathy versus Moore's Law</p>
        <img src="/assets/news-article1.png" width="60%">
      </div>
      <!-- end section title -->
    </div>
  </div>
</section>
<!-- end page title -->

<!-- blog -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-0 col-xl-10 offset-xl-1">
        <div class="row">
          <!-- content -->


            <% if @posts.to_a.length > 0
              @posts.each_with_index do |post, index|
            %>
              <div class="col-4 col-md-4  col-xl-4 col-sm-4 col-lg-4">
                <!-- post -->
                <a href="/post/<%= post.data.slug %>">
                  <article class="post blog-min-height" id="post1">
                    <figure class="post__img blog-color<%=(index % 5)+1 %>">

                    </figure>
                    <header class="post__header">
                      <span class="post__date"><%= Date.parse(post.data.published).strftime('%v') %></span>
                      <h2 class="post__title"><%= post.data.title %></h2>
                    </header>
                  </article>
                </a>
              </div>
                <!-- end post -->
              <% end
                 else
                    %>
                  <h3>No post yet.</h3>
                 <% end %>



            <!-- paginator -->
<!--            <ul class="paginator">
              <li class="paginator__item paginator__item--prev"><a href="#"><i class="ti-arrow-left"></i></a></li>
              <li class="paginator__item paginator__item--active"><a href="#">1</a></li>
              <li class="paginator__item"><a href="#">2</a></li>
              <li class="paginator__item"><a href="#">3</a></li>
              <li class="paginator__item paginator__item--next"><a href="#"><i class="ti-arrow-right"></i></a></li>
            </ul>-->
            <!-- end paginator -->

          <!-- end content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end blog -->
