<!-- faq -->
<section class="section section--border-bottom p-t-1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 text-center m-t-50">
        <!-- form -->
         <img src="/assets/Error-404.png" width="60%">
        <h2>OPPS! PAGE CANNOT BE FOUND.</h2>
        <br>
        <h4 class="text-grey">Return to previous page or visit our <a href="/"> home page</a>.</h4>
        <br>
        <small id="countmesg" class=""></small>
      </div>
    </div>
  </div>
</section>
<!-- end faq -->
