<% unless @post.nil?
%>
<!-- page title -->
<section class="section section--first blog-color<%= rand(1...7) %>  p-t-30 p-b-30 text-center" data-bg="/assets/section/section-bg.jpg">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title section__title--white"><%= @post.data.title %></h2>
        <p class="section__text section__text--white section__text--head grey-text bold-font"><%= "#{@post.data.author.first_name.titleize} #{@post.data.author.last_name.titleize} | #{Date.parse(@post.data.published).strftime('%v')}"  %></p>
        <img src="/assets/news-article1.png" width="60%">
      </div>
      <!-- end section title -->
    </div>
  </div>
</section>
<!-- end page title -->

<!-- blog -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-0 col-xl-10 offset-xl-1">
        <div class="row">
          <!-- content -->
          <div class="col-12 col-md-12">
                <!-- post -->
                <article class="post" id="post1">
                  <div class="post__content">
                    <div class="text-justify">
                      <%= @post.data.body.html_safe %>
                    </div>
                  </div>
                </article>
                <!-- end post -->


            <!-- paginator -->
<!--            <ul class="paginator">
              <li class="paginator__item paginator__item--prev"><a href="#"><i class="ti-arrow-left"></i></a></li>
              <li class="paginator__item paginator__item--active"><a href="#">1</a></li>
              <li class="paginator__item"><a href="#">2</a></li>
              <li class="paginator__item"><a href="#">3</a></li>
              <li class="paginator__item paginator__item--next"><a href="#"><i class="ti-arrow-right"></i></a></li>
            </ul>-->
            <!-- end paginator -->
          </div>
          <!-- end content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end blog -->
<%
  else
%>
  <h3>No post yet.</h3>
<% end %>
