
<!-- page title -->
<section class="section section--first section--bg" data-bg="/assets/section/section-bg.jpg">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title section__title--white">Keep Reading</h2>
        <p class="section__text section__text--white section__text--head">Welcome to blog</p>
      </div>
      <!-- end section title -->
    </div>
  </div>
</section>
<!-- end page title -->

<!-- blog -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-0 col-xl-10 offset-xl-1">
        <div class="row">
          <!-- content -->
          <div class="col-12 col-md-12">

            <% unless @post.nil?
            %>
                <!-- post -->
                <article class="post" id="post1">
                  <figure class="post__img">
                    <img src="/assets/blog/blog1.jpg" alt="" style="width: 100%">
                  </figure>

                  <header class="post__header">
                    <span class="post__date"><%= Date.parse(@post.data.published).strftime('%v') %></span>
                    <h2 class="post__title"><%= @post.data.title %></h2>
                  </header>

                  <div class="post__content">
                    <div class="text-justify">
                      <%= @post.data.body.html_safe %>
                    </div>

                  </div>
                </article>
                <!-- end post -->
              <%
                 else
                    %>
              <h3>No post yet.</h3>
              <% end %>



            <!-- paginator -->
<!--            <ul class="paginator">
              <li class="paginator__item paginator__item--prev"><a href="#"><i class="ti-arrow-left"></i></a></li>
              <li class="paginator__item paginator__item--active"><a href="#">1</a></li>
              <li class="paginator__item"><a href="#">2</a></li>
              <li class="paginator__item"><a href="#">3</a></li>
              <li class="paginator__item paginator__item--next"><a href="#"><i class="ti-arrow-right"></i></a></li>
            </ul>-->
            <!-- end paginator -->
          </div>
          <!-- end content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end blog -->
