
<!-- page title -->
<section class="section section--first section--bg" data-bg="/assets/section/section-bg.jpg">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title section__title--white">Privacy Policy</h2>
        <p class="section__text section__text--white section__text--head">Please read the Policy carefully before using
          the website. If you have any questions or concerns, please contact us.</p>
      </div>
      <!-- end section title -->
    </div>
  </div>
</section>
<!-- end page title -->

<!-- blog -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-0 col-xl-10 offset-xl-1">
        <div class="row">
          <!-- content -->
          <div class="col-12 col-md-12">
            <!-- post -->

            <div class="x-text text-justify"><p><strong>Privacy Policy / PDPA</strong></p>
              <p>This is to inform you of how LegalFAB handles your personal data which is subject to the Personal Data
                Protection Act 2012 (Cap. 26) (“<strong>PDPA</strong>”).</p>
              <p>By using LegalFab Private Limited (“<strong>LegalFAB</strong>”) website, www.LegalFAB.com (the
                “<strong>Website</strong>“), LegalFAB’s social media platforms (“<strong>Social Media</strong>”) or any
                LegalFAB applications or plug-ins (“<strong>Applications</strong>“, together with Website and Social
                Media collectively referred to as “<strong>Services</strong>”), you agree to follow and be bound by
                LegalFAB’s Privacy Policy (“<strong>Policy</strong>”).</p>
              <p>LegalFAB may from time to time update this Policy. By continuing to use the Services, you agree to be
                bound by the prevailing terms of this Policy which may be updated from time to time.</p>
              <p>In this Policy, “Personal Data” refers to any data, whether true or not, about an individual who can be
                identified (a) from that data; or (b) from that data and other information to which we have or are
                likely to have access, including data in our records as may be updated from time to time, but excludes
                “business contact information” as defined in the PDPA.</p>
              <p><strong>A. Collection of your Personal Data </strong></p>
              <p>LegalFAB collects your Personal Data through the following means:</p>
              <ul>
                <li>in the course of engaging or uses the Services, or you providing documents or information to us;
                </li>
                <li>when you interact or communicate with us through telephone, teleconferences, letters, fax,
                  face-to-face meetings, our Website, emails, web forms, social media platforms or any other modes of
                  contact;
                </li>
                <li>when you request to be included in an email or mailing list; or</li>
                <li>when you submit your Personal Data for any other reasons;</li>
              </ul>
              <p><strong>B. Purposes for which we collect, use and disclose your Personal Data</strong></p>
              <p>Broadly, the purposes for which LegalFAB collects, uses and discloses your Personal Data include:</p>
              <ul>
                <li>providing the Services requested;</li>
                <li>responding, processing and handling your request, queries, feedback and suggestions;</li>
                <li>providing you with updates and communicating with you on developments relating to law, our Services
                  or any other matters; or
                </li>
                <li>complying with applicable laws, regulations, code of practice, guidelines, policies, procedures;
                </li>
              </ul>
              <p>In addition, if you are seeking have submitted an employment application to LegalFAB, the purposes for
                which the LegalFAB collects, uses and discloses Personal Data also include:</p>
              <p>(a) processing and assessing your application;</p>
              <p>(b) performing background checks, verifying your credentials and qualifications as well as obtaining
                employment references; or</p>
              <p>(c) any other purpose relating to any of the above.</p>
              <p>In relation to particular services or in your interactions with us, we may also have specifically
                notified you of other purposes for which we collect, use or disclose your Personal Data. If so, we will
                collect, use and disclose your Personal Data for these additional purposes as well, unless we have
                specifically notified you otherwise.</p>
              <p><strong> B. Disclosing your Personal Data</strong></p>
              <p>LegalFirm may disclose your Personal Data as follows:</p>
              <ul>
                <li>to any agent or third party providing operational or administrative services essential for the
                  provision of the Services, such as, web site hosting and development, telecommunications, information
                  technology, payment, payroll processing, training, storage, research, client support services;
                </li>
                <li>to any relevant authorities, including professional bodies and/or law enforcement agencies;</li>
                <li>to the extent necessary to comply with any laws, regulations, rules, directive, directions,
                  guidelines or the likes; or
                </li>
                <li>to any party to whom you authorise us to disclose your Personal Data to.</li>
              </ul>
              <p>LegalFAB will only disclose your Personal Data where it is reasonably required to provide our Services
                and to permit third parties to do the necessary work. Parties to whom LegalFAB discloses your Personal
                Data to are required to comply with the PDPA.</p>
              <p><strong>C. Enquiries, access or correction of your Personal Data </strong></p>
              <p><strong>Withdrawing Your Consent</strong></p>
              <p>You may refuse or withdraw your consent for us to collect, use or disclose your Personal Data. Please
                note that should you choose to do so, LegalFAB may not be able to provide its Services to you.</p>
              <p><strong>Accuracy and Safeguards</strong></p>
              <p>LegalFAB takes reasonable efforts to ensure that your Personal Data collected by us is accurate and
                complete and safely stored. To this end, all electronic storage and transmission of Personal Data is
                secured with appropriate security technologies.</p>
              <p><strong>Retention</strong></p>
              <p>LegalFAB will keep your Personal Data only for as long as it is required for providing its Services or
                as required by its business needs or law. Once your Personal Data is no longer required, LegalFAB will
                destroy, erase or make anonymous your Personal Data.</p>
              <p><strong>D. Queries, Withdrawal of Consent, Access and Correction of Your Personal Data</strong></p>
              <p>Please contact our Data Protection Officer at
                <a href="mailto:support@legalfab.com">support@legalfab.com</a> should you:</p>
              <ul>
                <li>have any concern, enquiries, feedback relating to your Personal Data or this Policy;</li>
                <li>would like to withdraw your consent to any use of your Personal Data; or</li>
                <li>would like to obtain access and make correction to your Personal Data (kindly note that an
                  administrative fee will be imposed).
                </li>
              </ul>
              <p><strong>Effective: 1 September 2016</strong></p>
            </div>
          </div>
          <!-- end content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end blog -->
