
<!-- home -->
<section class="home home--circle" style="height:80vh;background-image:url('/assets/ptm.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
  <!-- particles -->
  <!-- end particles -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0">
        <div class="home__content">
          <h3 class="home__title">Project &
            <br>Transaction <br>Monitoring</h3>
          <h2 class="f-w-500">Changing The Way</h2>
          <h2 class="f-w-500">Businesses Transact</h2>
          <a href="/request-demo" class="m-t-20"><img src="/assets/Request-Demo-Button.png" width="35%"></a>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- services -->
<section class="section" id="services">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">STORE, RECORD, COLLABORATE AND TRANSACT SECURELY</h2>
      </div>
      <!-- end section title -->
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-10 offset-xl-1">
        <!-- service -->
        <div class="text-center">
          <p class="service__text text-justify">
            Project & Transaction Monitoring allows businesses to store their work documents and data securely, make an immutable record and access to the files on blockchain.
          </p>
          <p class="service__text text-justify p-t-20">
            Use the platform to collaborate and sign an agreement with a third party and monitor subsequent events
            related to the agreement.
          </p>
        </div>
        <!-- end service -->
      </div>

    </div>
  </div>
</section>
<!-- end services -->

<div class="section section--bg" data-bg="/assets/section/section-bg2.jpg">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <table width="100%">
          <tr>
            <td width="35%">
              <img src="/assets/102.png" class="p-r-40" width="100%">
            </td>
            <td>
              <h3 class="service__title mfp-inline-holder text-left text-uppercase">DISTRIBUTED STORAGE</h3>
              <p class="service__text text-left">Upload and store your files, including records of the creation and
                usage
                in an organised and secured manner using a Project Folder. Your files are safely stored with different
                nodes, ensuring no single point of failure or vulnerability.</p>
            </td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td>
              <h3 class="service__title mfp-inline-holder text-right text-uppercase">IMMUTABLE RECORD</h3>
              <p class="service__text text-right">Maintain an immutable record of all your work products and
                intellectual
                properties, including unregistered intellectual properties, on blockchain. Make a record of all
                intellectual
                property created by your employees, or independent contractors and usages of such IPs to obtain certain
                statutory protection at law. Notarise your Project Folder to make a record on blockchain. At which
                point, a
                digital representation of that Project Folder is created as an Asset. Share and transact with the
                Asset.</p>
            </td>
            <td width="35%">
              <img src="/assets/2-Record.png" width="100%" class="p-l-40">
            </td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td width="35%">
              <img src="/assets/Encrypted-Access.png" class="p-r-40" width="100%">
            </td>
            <td>
              <h3 class="service__title mfp-inline-holder text-left">ENCRYPTED ACCESS</h3>
              <p class="service__text text-left">Choose to encrypt your files with your public key. This ensures that
                only you (i.e. owner of the private key) will have access to your work product. Share files securely and
                maintain an audit trial of all files and information accessed via your Asset.</p>
            </td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td>
              <h3 class="service__title mfp-inline-holder text-right text-uppercase">SECURED TRANSACTION</h3>
              <p class="service__text text-right">Upload an agreement to be the Governing Agreement of the Asset. Send and sign the agreement with other parties using the platform. You no longer need to print and arrange for both parties to sign the agreement. Sign digitally to save cost and go green without compromising on security.</p>
            </td>
            <td width="35%">
              <img src="/assets/3-Store.png" width="100%" class="p-l-40">
            </td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td width="35%">
              <img src="/assets/1-Draft.png" class="p-r-40" width="100%">
            </td>
            <td>
              <h3 class="service__title mfp-inline-holder text-left">COLLABORATE & MONITOR</h3>
              <p class="service__text text-left">Make a record of transactions related to an Asset such as delivery
                of
                the goods or services, issuance of tax invoices, payment et cetera. Decide and make a record of
                important
                events for retrieval in the event of dispute.</p>
            </td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td>
              <h3 class="service__title mfp-inline-holder text-right">VERIFY</h3>
              <p class="service__text text-right">Using the project or file hash, verify files, projects, signed
                agreements and events to ensure document authenticity.</p>
            </td>
            <td width="35%">
              <img src="/assets/Verify.png" width="100%" class="p-l-40">
            </td>
          </tr>
        </table>
      </div>



    </div>
  </div>
</div>

<div class="section light-blue-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class="text-center mfp-inline-holder">
          <h2>READY TO SUPERCHARGE YOUR LEGAL TEAM?</h2>
          <a href="#subscribe_block"><img src="/assets/Subscribe-Button.png" width="30%" class=" m-t-10"></a>
          <p class="service__text m-t-20">Not sure yet? <a href="javascript:openChat()">Speak to our team.</a></p></div>
        <!-- end service -->
      </div>
    </div>
  </div>
</div>


<script>
    function openChat() {
        tidioChatApi.open();
    }
</script>
