
<!-- home -->
<section class="home home--circle " style="background-image:url('/assets/ProjectTransactionMonitoring-Banner.png ');background-size:100% 100%;background-repeat: no-repeat;background-position: center;">
  <!-- particles -->
  <!-- end particles -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0">
        <div class="home__content">
          <h3 class="home__title">HashFAB</h3>
          <h2 class="f-w-500">Changing The Way</h2>
          <h2 class="f-w-500">Businesses Transact</h2>
          <a href="/request-demo" class="m-t-20"><img src="/assets/Request-Demo-Button.png" width="35%" style = "margin-top:30px"></a>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- services -->
<section class="section" id="services">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title">STORE, RECORD, COLLABORATE AND TRANSACT SECURELY</h2>
      </div>
      <!-- end section title -->
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-10 offset-xl-1">
        <!-- service -->
        <div class="text-center">
          <p class="service__text text-justify">
            Project & Transaction Monitoring allows businesses to store their work documents and data securely and make an immutable record of file contents and access on blockchain.
          </p>
          <p class="service__text text-justify p-t-20">
            Use the platform to collaborate and sign an agreement with a third party and monitor subsequent events related to the agreement.
          </p>
        </div>
        <!-- end service -->
      </div>

    </div>
  </div>
</section>
<!-- end services -->

<div class="section section--bg" data-bg="/assets/section/section-bg2.jpg">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
      <!-- service -->
      <div class = "row service_align">
      <div class = "col-md-4 col-sm-12 col-xs-12 text-left" >
      <img  class="p-r-40 bttrlazyloading" width="100%" id = "ptm_1" >
      </div>
      <div class = "col-md-8 col-sm-12 col-xs-12 ">
      <h3 class="service__title mfp-inline-holder text-left text-uppercase p-t-60">DISTRIBUTED STORAGE</h3>
              <p class="service__text text-justify">Upload and store your files, including records of their creation and usage in an organised and secure manner using a Project Folder. Your files are safely stored on multiple nodes, ensuring no single point of failure or vulnerability.</p>
      </div>

      </div>
      <!--  endservice -->

      <!-- service -->
      <div class = "row service_align">
      <div class = "col-md-8 col-sm-12 col-xs-12 text-left order-md-1 order-2 order-lg-1" >
      <h3 class="service__title mfp-inline-holder text-right text-uppercase">IMMUTABLE RECORD</h3>
              <p class="service__text text-justify">Maintain an immutable record of all your work products and intellectual property, including unregistered IP, on blockchain. Make a record of all IP created by your employees or independent contractors and usage of such IP to obtain certain statutory protection under the law. Notarise your Project Folder to make a record on blockchain. At this point, a digital representation of that Project Folder is created as an Asset. Share and transact with the Asset.
              </p>
      </div>
      <div class = "col-md-4 col-sm-12 col-xs-12 order-md-2 order-1 order-lg-2">
      <img  width="100%" class="p-l-40 bttrlazyloading" id = "ptm_2">
      </div>

      </div>
      <!--  endservice -->
      <!-- service -->
      <div class = "row service_align">
      <div class = "col-md-4 col-sm-12 col-xs-12 text-left" >
      <img  class="p-r-40 bttrlazyloading" width="100%" id = "ptm_3">
      </div>
      <div class = "col-md-8 col-sm-12 col-xs-12 ">
      <h3 class="service__title mfp-inline-holder text-left">ENCRYPTED ACCESS</h3>
              <p class="service__text text-justify">Choose to encrypt your files with your public key. This ensures that only you (i.e. owner of the private key) will have access to your work product. Share files securely and maintain an audit trail of all files and information accessed via your Asset.
              </p>
      </div>

      </div>
      <!--  endservice -->
      <!-- service -->
      <div class = "row service_align">
      <div class = "col-md-8 col-sm-12 col-xs-12 text-left order-md-1 order-2 order-lg-1" >
      <h3 class="service__title mfp-inline-holder text-right text-uppercase">SECURE TRANSACTION</h3>
              <p class="service__text text-justify">Upload an agreement to be the Governing Agreement of the Asset. Send and sign the agreement with other parties using the platform. You no longer need to print and arrange for both parties to sign the agreement. Sign digitally to save cost and go green without compromising on security.</p>
      </div>
      <div class = "col-md-4 col-sm-12 col-xs-12 order-md-2 order-1 order-lg-2">
      <img  width="100%" class="p-l-40 bttrlazyloading" id = "ptm_4" >
      </div>

      </div>
      <!--  endservice -->
      <!-- service -->
      <div class = "row service_align">
      <div class = "col-md-4 col-sm-12 col-xs-12 text-left" >
      <img  class="p-r-40 bttrlazyloading" width="100%" id = "ptm_5" >
      </div>
      <div class = "col-md-8 col-sm-12 col-xs-12 ">
      <h3 class="service__title mfp-inline-holder text-left">COLLABORATE & MONITOR</h3>
              <p class="service__text text-justify">Make a record of transactions related to an Asset such as delivery of the goods or services, issuance of tax invoices, and payment. Decide to make a record of important events for retrieval in the event of dispute.</p>

      </div>

      </div>
      <!--  endservice -->
      <!-- service -->
      <div class = "row service_align">
      <div class = "col-md-8 col-sm-12 col-xs-12 text-left order-md-1 order-2 order-lg-1" >
      <h3 class="service__title mfp-inline-holder text-right">VERIFY</h3>
              <p class="service__text text-justify">Using the project or file hash, verify files, projects, signed
                agreements and events to ensure document authenticity.</p>
      </div>
      <div class = "col-md-4 col-sm-12 col-xs-12 order-md-2 order-1 order-lg-2">
      <img  width="100%" class="p-l-40" id = "ptm_6" class="bttrlazyloading">
      </div>

      </div>
      <!--  endservice -->
      </div>



    </div>
  </div>
</div>

<div class="section light-blue-bg p-b-40 p-t-40">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-6 offset-md-3 col-xl-8 offset-xl-2">
        <!-- service -->
        <div class="text-center mfp-inline-holder">
          <h3>READY TO SUPERCHARGE YOUR LEGAL TEAM?</h3>
          <a href="#" data-toggle="modal" data-target="#examplePtmModalCenter"><img src="/assets/Subscribe-Button.png" width="20%" class=" m-t-10"></a>
          <p class="service__text m-t-20">Not sure yet? <a href="javascript:openChat()">Speak to our team.</a></p></div>
        <!-- end service -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="examplePtmModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style = "height:600px">
    <iframe src="https://edm.legalfab.com/index.php/lists/eh572md32m2ac/subscribe?output" width="100%" height="100%" align="middle" frameborder="0" scrolling="no" style = "border:1px solid pink"></iframe>
    </div>
  </div>
</div>
<script>
    function openChat() {
        tidioChatApi.open();
    }
</script>
