
<!-- page title -->
<section class="section section--first section--bg" data-bg="/assets/section/section-bg.jpg">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="section__title section__title--white">Terms of Service</h2>
        <p class="section__text section__text--white section__text--head">Please read the terms of service carefully before using the website. If you have any questions or concerns, please contact us.</p>
      </div>
      <!-- end section title -->
    </div>
  </div>
</section>
<!-- end page title -->

<!-- blog -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-0 col-xl-10 offset-xl-1">
        <div class="row">
          <!-- content -->
          <div class="col-12 col-md-12">
            <!-- post -->

            <div class="x-text text-justify">
              <p style="text-align: justify;">By using LegalFab Private Limited (“<strong>LegalFAB</strong>”) website,
                www.LegalFAB.com (the “<strong>Website</strong>“), LegalFAB’s social media platforms (“<strong>Social
                Media</strong>”) or any LegalFAB applications or plug-ins (“<strong>Applications</strong>“, together
                with Website and Social Media collectively referred to as “<strong>Services</strong>”), you agree to
                follow and be bound by these terms of use (the “<strong>Terms of Service</strong>“),
                <a href="/privacy_policy">LegalFAB’s Privacy Policy</a> and agree to comply
                with all applicable laws and regulations.</p>
              <p style="text-align: justify;">If you are using the Website and/or Applications as an employee,
                representative or agent of an organisation, you agree to these Terms of Service on behalf of that
                organisation. You must be the legal age of majority in your country / state of residence or otherwise be
                able to form a binding contract with LegalFAB in order to use the Website or Applications.</p>
              <p style="text-align: justify;">In these Terms of Service, the words “you” and “your” refer to each
                customer, Website’s visitor, or Application user, “we”, “us” and “our” refer to LegalFAB and “Services”
                refers to various LegalFAB’s packages and all other ancillary services provided by us.</p>
              <p style="text-align: justify;"><strong>Online Legal Portal</strong></p>
              <p style="text-align: justify;">LegalFAB provides an online legal portal to provide information, self-help
                and to provide an software-as-a service to allow individuals and businesses to generate their own legal
                documents. LegalFAB is not a law firm and does not provide legal advice. Any information provided is for
                your private use and does not constitute legal advice. LegalFAB does not review any information you
                provide us for legal accuracy or sufficiency, draw any legal conclusions, provide opinions or apply the
                law to the facts of your situation. If you require advice for a specific problem, please consult a
                lawyer / an advocate and solicitor.</p>
              <p style="text-align: justify;"><strong>No Solicitior-Client Relationship</strong></p>
              <p style="text-align: justify;">Your use of the Services does not create a solicitor-client relationship
                between you and LegalFAB, or between you and any LegalFAB’s employee, agent or representative. Unless
                you are represented by a solicitor, you are and will be representing yourself in any legal matter you
                undertake through LegalFAB’s Services.</p>
              <p style="text-align: justify;"><strong>Lawyer Referral Service</strong></p>
              <p style="text-align: justify;">LegalFAB is not a lawyer referral service. LegalFAB does not endorse or
                recommend any solicitor nor does LegalFAB make any warranty, representations or recommendations as to
                the qualifications or competency of any solicitor.</p>
              <p style="text-align: justify;"><strong>Auto-Renewals and Paid Account</strong></p>
              <p style="text-align: justify;">LegalFAB may in its discretion offer a limited period of free trial
                (“<strong>Trial Period</strong>”) offer for new customers for certain subscription packages. In order
                for you to take advantage of the free trial, you must have a valid payment instruments, such as a credit
                card or other permitted payment methods. Upon the expiry of the free trial period, you will
                automatically be charged the monthly fee for the legal plan you have chosen.</p>
              <p style="text-align: justify;">By entering into a membership subscription package with LegalFAB, you
                agree to pay the stated fees associated with such services, including any recurring payments. Your paid
                subscription will automatically renew in accordance with its terms. Please see our plans and pricing
                page for further details.</p>
              <p style="text-align: justify;">Unless you notify us before the renewal date of your auto-renewing paid
                membership that you wish to downgrade, your paid subscription will renew at the previous rate for the
                subsequent period.</p>
              <p style="text-align: justify;"><strong>Refund</strong></p>
              <p style="text-align: justify;">While you may downgrade or terminate our Services, LegalFAB’s refund
                policy does not offer refunds on payments collected or billed prior to the downgrade or termination of
                our Services.</p>
              <p style="text-align: justify;">Annual or biannual plans are subject to a partial refund if we are
                notified that you wish to terminate during the Trial Period. After the Trial Period, you will receive a
                pro-rated refund of the unutilised months. Used months will be billed at the full monthly cost of the
                respective monthly packages (without the applicable annual or biannual discount).</p>
              <p style="text-align: justify;"><strong>Termination of Membership</strong></p>
              <p style="text-align: justify;">LegalFAB reserves the right to, in its absolute discretion, to downgrade,
                suspend (temporarily or permanently), terminate your use of our Services, for any reason and at any time
                without prior notice, including but not limited to your use of our Services in a manner that would
                expose us to legal liability, disrupt the Services or is otherwise in breach of the Terms of Service.
                LegalFAB will not in any way be liable to you or any third party for any downgrading, suspension or
                termination of your use of the Services.</p>
              <p style="text-align: justify;"><strong>Governing Law</strong></p>
              <p style="text-align: justify;">This Terms of Service shall be governed by, and construed in accordance
                with, the laws of Singapore.</p>
              <p style="text-align: justify;"><strong>Entire Agreement</strong></p>
              <p style="text-align: justify;">This Terms of Service constitutes the full and complete understanding
                between you and LegalFAB. No correspondence, or any other documents exchanged prior to or in connection
                with the subject matter, nor any statements, warranties, representations, or agreements, whether oral or
                written, made with respect to the subject matter, shall be binding on either you or LegalFAB unless
                expressly incorporated or referred to in this Terms of Service.</p>
              <p style="text-align: justify;"><strong>No Waiver</strong></p>
              <p style="text-align: justify;">LegalFAB’s delay, omission or failure to exercise any right or remedy
                provided for herein is not a waiver thereof or acquiescence in the event giving rise to such right or
                remedy nor shall any partial exercise of any of LegalFAB’s right preclude the exercise of any other
                LegalFAB’s right.</p>
              <p style="text-align: justify;">Any waiver or consent given by LegalFAB under this Agreement shall be in
                writing and may be given subject to any conditions as that LegalFAB may impose. Any waiver or consent
                shall be effective only for that instance and for the purpose for which it is given.</p>
              <p style="text-align: justify;"><strong>Assignment</strong></p>
              <p style="text-align: justify;">You may not assign any of your rights under these Terms of Service and any
                such attempt will be deemed to be null and void. LegalFAB may assign its rights to any affiliates,
                subsidiaries, or to any successor in title.</p>
              <p style="text-align: justify;"><strong>Contracts (Rights of Third Parties) Act (Cap. 53B)</strong></p>
              <p style="text-align: justify;">Notwithstanding anything to the contrary, a person who is not a party to
                this Terms of Service shall have no rights under the Contracts (Rights of Third Parties) Act (Cap. 53B)
                to enforce any of the Terms of Service contained herein.</p>
              <p style="text-align: justify;"><strong>Amendments</strong></p>
              <p style="text-align: justify;">This Terms of Service may not be amended orally and may only be amended,
                altered, supplemented or changed by a written instrument signed by all the Parties.</p>
              <p style="text-align: justify;"><strong>Modification</strong></p>
              <p style="text-align: justify;">LegalFAB may revise the Terms of Service and will post the latest version
                on our Website. By continuing to use the Website and/or the Applications, you agree to be bound by the
                revised Terms of Service existing at the material time.</p>
              <p style="text-align: justify;"><strong>Severability</strong></p>
              <p style="text-align: justify;">If any term or provision of this Terms of Service is to any extent held by
                a court or other tribunal to be invalid, void or unenforceable, insofar as it is in conflict with the
                law, the remaining rights and obligations will be construed and enforced as if this Terms of Service did
                not contain the particular term or provision held to be invalid, void or unenforceable.</p>
              <p style="text-align: justify;"><strong>Arbitration</strong></p>
              <p style="text-align: justify;">Any dispute or difference arising between you as to the construction of
                this Terms of Service or as to any matter of whatsoever nature arising hereunder or in connection with
                the Terms of Services shall be referred to and finally resolved by arbitration in Singapore in
                accordance with the Singapore Institute of Arbitration Centre (“<strong>SIAC</strong>”).</p>
              <p style="text-align: justify;">Save to the extent that the SIAC Rules are inconsistent with the express
                terms of this Terms of Service, the SIAC Rules are deemed to be incorporated by reference to this
                clause.</p>
              <p style="text-align: justify;">The arbitral tribunal shall consist of one independent arbitrators and
                shall be appointed by the Chairman of the Singapore International Arbitration Centre.</p>
              <p style="text-align: justify;">For the purpose of this Terms of Service, a dispute shall be deemed to
                arise when you serves on LegalFAB a notice in writing stating the nature of the dispute.</p>
              <p style="text-align: justify;">The seat or legal place of arbitration shall be Singapore and the language
                to be used in the arbitral proceedings shall be English.</p>
              <p style="text-align: justify;">The prevailing Party in the arbitration shall be awarded the costs and
                expenses (including legal fees and expenses) reasonably incurred in connection with any such
                arbitration.</p>
              <p style="text-align: justify;">If you have any questions or concerns, please
                <a href="/contact-us">contact us</a>.</p>
              <p style="text-align: justify;"><strong>Effective: 1 September 2016</strong></p>
            </div>
          </div>
          <!-- end content -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end blog -->
