Hi Legalfab,
<h3>User has contacted from Legalfab.com (Mainwebsite)</h3>

<h4>Contact Details:</h4>

<h5>User Name:- <%= @query_details['firstname']%></h5>
<h5>User Email:- <%= @query_details['email']%></h5>
<h5>User Contact No:- <%= @query_details['phoneNo']%></h5>
<h5>User Message:- <%= @query_details['message']%></h5>
