$max-width: 100%;
$black: black;
$red: red;
$SourceSansPro: 'Source Sans Pro';
$Merriweather: 'Source Sans Pro';
$MerriweatherSans: 'Source Sans Pro';
$font-alpha: 'Source Sans Pro';
$font-beta: 'Source Sans Pro';
$grey: grey;
$white: white;
$Monospace: 'monospace';
$gutter-gamma: 10px;
$gutter-beta: 10px;
$darkgrey: darkgrey;
$orange: orange;
$darkred: darkred;
$green: green;
$height-alpha: 60px;
$color-alpha: darkgrey;
$color-beta: darkgrey;
$color-delta: darkgrey;
$color-gamma: darkgrey;
$size-beta: 14px;
$size-alpha: 16px;
#pagination {
  font-family: $SourceSansPro;
  font-weight: 600;
  margin: 1.8em auto 0 auto;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: center;
  a {
    color: $grey;
    &:hover { color: lighen($grey, 10%); }
  }

  .newer, .older, .page { margin: 0 1em;}
  .current { color: $black; }
}
